<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <arithmetic>
        <add>0.5</add>
        <sub>0.5</sub>
        <mul>0.5</mul>
        <quo>0.5</quo>
        <rem>0.5</rem>
        <add_assign>0.5</add_assign>
        <sub_assign>0.5</sub_assign>
        <mul_assign>0.5</mul_assign>
        <quo_assign>0.5</quo_assign>
        <rem_assign>0.5</rem_assign>
        <inc>0.1</inc>
        <dec>0.1</dec>
    </arithmetic>
    <cyclomatic>
        <if>1</if>
        <for>2</for>
        <rng>1</rng>
        <case>2</case>
        <and>0.5</and>
        <or>0.5</or>
    </cyclomatic>
    <comment>
        <word>0.2</word>
    </comment>
    <codestruct>
        <func>3</func>
        <struct>1</struct>
        <interface>1</interface>
    </codestruct>
    <halstead>0.1</halstead>
    <inline>
        <int>0.1</int>
        <float>0.1</float>
        <imag>0.1</imag>
        <char>0.1</char>
        <string>0.1</string>
        <composite>0.2</composite>
    </inline>
</config>
