<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <cyclomatic>
        <if>1</if>
        <for>1</for>
        <rng>1</rng>
        <case>1</case>
        <and>1</and>
        <or>1</or>
    </cyclomatic>
    <comment>
        <word>1</word>
    </comment>
    <codestruct>
        <func>1</func>
        <struct>1</struct>
        <interface>1</interface>
    </codestruct>
    <inline>
        <int>1</int>
        <float>1</float>
        <imag>1</imag>
        <char>1</char>
        <string>1</string>
        <composite>1</composite>
    </inline>
    <arithmetic>
        <add>1</add>
        <sub>1</sub>
        <mul>1</mul>
        <quo>1</quo>
        <rem>1</rem>
        <add_assign>1</add_assign>
        <sub_assign>1</sub_assign>
        <mul_assign>1</mul_assign>
        <quo_assign>1</quo_assign>
        <rem_assign>1</rem_assign>
        <inc>1</inc>
        <dec>1</dec>
    </arithmetic>
</config>